@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --widthA: 100px;
    --widthB: calc(var(--widthA) / 2);
    --widthC: calc(var(--widthB) / 2);
}

body{
    background-image: url(img/sche.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 1360px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    background-image: linear-gradient(to right, rgba(26,217,163,0), rgba(3,166,150,1));
    background-image: trans;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.grid{
    /* background-color: chartreuse; */
    width: 1200px;
    
}

.posix_header{
    display: flex;
    justify-content: space-between;
    position: absolute
}

.spm_logo{
    position: relative;
    height: 16.75%;
    width: 16.75%;
}

.menu_principal{
    /* background-color: chocolate; */
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}
.menu_principal a{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-decoration-line: none;
    color: white;
}

.conteudos{
    background-color: yellow;
    display: flex;
    width: 100%;
    height: 960px;
    justify-content: space-between;
    padding-top: 15%;
}


.listar_consultas{
    background-color: chartreuse;
    width: 46%;
    height: 73%;
}

.cadastrar_consultas{
    background-color: crimson;
    width: 46%;
    height: 47%;
}


footer{
    background-color: blueviolet;
    height: widthB
}

