@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* VARIAVEIS */
    --grid: 1200px;
    --altura_header: calc(var(--grid) * 0.058333333);
    --altura_footer: calc(var(--grid) * 0.275);
    --cor_texto: var(--Branco);
    --fonte: 'Montserrat', sans-serif;
    
    /* CORES */
    --VERDE_C: rgba(5,242,155,1);
    --VERDE_B: rgba(3,166,150,1);
    --VERDE_A: rgba(26,217,163,0);
    --Branco: white;
    --Azul: rgba(53,135,242,1);
}

/* -------------- 01 CADASTRO CONSULTAS ------------------- */


.body_cadastro_consultas{
    background-image: url(..//img/sche.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 1360px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_cadastro_consultas{
    background-image: linear-gradient(to right, var(--VERDE_A), var(--VERDE_B));
    background-image: trans;
    height: var(--altura_header);
    width: 100%;
    display: flex;
    justify-content: center;
}

.grid{
    /* background-color: chartreuse; */
    width: var(--grid);
    
}

.posix_header_cadastro_consultas{
    display: flex;
    justify-content: space-between;
    position: absolute
}

.spm_logo_cadastro_consultas{
    position: relative;
    height: 16.75%;
    width: 16.75%;
}

.menu_principal_cadastro_consultas{
    /* background-color: chocolate; */
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}
.menu_principal_cadastro_consultas a{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-decoration-line: none;
    color: white;
}

.conteudos_cadastro_consultas{
    /* background-color: yellow; */
    display: flex;
    width: 100%;
    height: 960px;
    justify-content: space-between;
    padding-top: 15%;
}


.listar_consultas_cadastro_consultas{
    background-color: rgba(255,255,255,0.75);
    border-radius: 20px;
    width: 46%;
    height: 73%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-y: scroll;
    padding-top: 50px;
    padding-bottom: 50px;
}

.listar_consultas_cadastro_consultas h2{
    font-family: var(--fonte);
    color: var(--Azul);
    font-size: 24px;
    text-align: left;
    margin-bottom: 20px;
}


.infos_card_cadastro_consultas{
    background-color: var(--VERDE_B);
    width: 90%;
    height: fit-content;
    padding: 3%;
    text-align: left;
    border-radius: 10px;
    font-family: var(--fonte);
    font-size: 15px;
    color: var(--Branco);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-style: solid;
    border-width: thin;
    border-color: var(--VERDE_C);
}

.campos_cadastro_consultas{
    margin-top: 3%;
    background-color: var(--VERDE_C);
    width: 90%;
    height: fit-content;
    padding: 5%;
    border-radius: 10px;
}

.linha_campos_cadastro_consultas{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: min-content;
}

.linha_campos_cadastro_consultas input{
    width: 60%;
    
}

.cadastrar_consultas_cadastro_consultas{
    background-color: rgba(255,255,255,0.75);
    width: 46%;
    height: 47%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.footer_cadastro_consultas{
    background-color: var(--VERDE_B);
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--altura_footer)
}

.container_footer_cadastro_consultas{
    /* background-color: greenyellow; */
    display: flex;
    flex-direction: column;
    height: 100%;
    width: var(--grid);
    justify-content: space-evenly;
}

.acima_linha_cadastro_consultas{
    /* background-color: cornsilk; */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* ALTURA DA TABELA E DO LOGO */
    height: calc( var(--altura_footer) * 0.4 );
    width: 100%;
}

.tabela_footer_cadastro_consultas{
    /* background-color: darkblue; */
    width: calc( var(--grid) * 0.35);
    height: 100%;
    text-align: left;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 15px;
}

.tabela_footer_cadastro_consultas thead{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 15px;
}

.abaixo_linha_cadastro_consultas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--fonte);
    color: var(--Branco);
    font-size: 15px;
}

.box_seguir_cadastro_consultas{
    display: flex;
    justify-content: right;
    align-items: center;
    height: calc( var(--altura_footer) * 0.15 );
    width: 250px;
}

.box_seguir_cadastro_consultas img{
    height: 100%;
    margin-right: 3px;
    margin-left: 3px;
}

.conteiner_form_cadastro_consultas{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 380px;
    height: 180px;
}

.form_inputs_cadastro_consultas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.form_inputs_cadastro_consultas input{
    width: 100%;
    height: 40px;
}

/* -------------- 01 CADASTRO CONSULTAS ------------------- */





/* --------------------- 02 LOGIN ------------------------- */


/* .background_logo_login{
    background-image: url(..//img/logo_spmedgroup_v2.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 100vh;
    height: 100vh;
    position: absolute;
} */

.body_login{
    background-image: url(..//img/logo_spmedgroup_LOGIN.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posix_login{
    /* background-color: cornflowerblue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 0px auto 0px; 
}

.bem_vindo_login{
    background-color: var(--Azul);
    height: 50vh;
    width: calc( var(--grid) * 0.42);
    height: 50vh;
}

.img_medicos_login{
    background-image: url(..//img/medicos.jpg);
    background-size: cover;
    width: 100%;
    height: 60%;
}

.msg_login{
    margin: 7% 7%;
    font-family: var(--fonte);
}

.msg_login p{
    margin-top: 3%;
}


.box_login{
    background-color: rgba(255,255,255,0.5);
    border-style: solid;
    border-width: 20px;
    border-color: var(--VERDE_C);
    border-radius: 15px;
    height: 50vh;
    width: calc( var(--grid) * 0.52);
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.dados_login{
    /* background-color: rebeccapurple; */
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.inputs_login{
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs_login input{
    width: 100%;
}

.inputs_login button{
    height: 20px;
    width: 60px;
}








/* --------------------- 02 LOGIN ------------------------- */
